<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCML :: @ViewBag.Title</title>
    <meta name="description" content="My ASP.NET Application" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.css" media="screen">
</head>
<body>

    @Html.Partial("_HeaderPartial")

    <div class="container body-content">
        <div class="row">
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-4">
                <ul class="nav nav-pills nav-stacked">
                    @Html.Partial("_MenuPartial")
                </ul>
                <br />
                @Html.Partial("_EventsPartial")
                @Html.Partial("_QLinkPartial")
                @Html.Partial("_MessagePartial")
            </div>
        </div>


        @Html.Partial("_FooterPartial")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
