<li class="active">@Html.ActionLink("Home", "index", "Home")</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("About SCML", "About", "Home")</li>
        <li>@Html.ActionLink("Why SCML", "Why", "Home")</li>
        <li>@Html.ActionLink("Board of Directors", "Boards", "Home")</li>
        <li>@Html.ActionLink("Management Team", "ManagementTeam", "Home")</li> 
        <li><a href="#">Message from CEO</a></li>
        <li><a href="#">Regulatory Bodies</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Product & Services <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a href="#">A</a>
            <ul class="dropdown-submenu">
                <li><a href="#">Item 1</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="#">B</a>
            <ul class="dropdown-submenu">
                <li><a href="#">Item 1</a></li>
            </ul>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Research & Reports <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">Daily Market Commentary</a></li>
        <li><a href="#">Business News Flash</a></li>
        <li><a href="#">Sectoral Equity Report</a></li>
        <li><a href="#">IPO Note</a></li>
        <li><a href="#">Economy Updates</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Forms & Downloads <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts Opening & Closure</a>
            <ul class="dropdown-submenu">
                <li><a href="#">Account Opening Form</a></li>
                <li><a href="#">Account Closure Form</a></li>
                <li><a href="#">Online Portfolio Request Form</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fund Withdraw</a>
            <ul class="dropdown-submenu">
                <li><a href="#">Fund Withdraw Form</a></li>
                <li><a href="#">Cheque Authorization Form</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settlement</a>
            <ul class="dropdown-submenu">
                <li><a href="#">Share Transfer Request Form</a></li>
                <li><a href="#">Share Transmission Request Form</a></li>
            </ul>
        </li>
    </ul>
</li>
<li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Career <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">Employment in SCML</a></li>
        <li><a href="#">Current Openings</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Contact Us <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="#">Corporate Head Office</a></li>
        <li><a href="#">Customer Care</a></li>
    </ul>
</li>